<div style="text-align:center; border: 2px solid #2E86C1; border-radius: 10px; padding: 30px; background-color: #F4F6F7;">

<h1 style="color:#154360; font-family:'Georgia', serif; font-size: 2.8em; margin-bottom: 20px;">APS106: Fundamentals of Computer Programming</h1>
  <span style="color:#21618C;">Please go to the Lecture Homepage on Quercus, navigate to Week 1, and download the slides for Lecture 1.3 to use as a reference for this tutorial.</span>

<h2 style="color:#1A5276; font-family:'Palatino Linotype', 'Book Antiqua', serif; font-size: 2.0em; margin-bottom: 30px;">Tutorial 1, Week 2</h2>

<h3 style="color:#6C3483; font-family:'Cambria', serif; font-size: 1.8em; text-decoration: underline; margin-bottom: 15px;">Topics Covered</h3>
<p style="text-align:center; font-family:'Trebuchet MS', sans-serif; font-size: 1.3em; line-height: 1.8;">
  <span style="color:#D35400; font-weight:bold;">Programming Concepts</span><br>
  <span style="color:#283747;">• Types</span><br>
  <span style="color:#283747;">• Variables</span><br>
  <span style="color:#283747;">• Operators</span><br>
  <span style="color:#283747;">• Expressions</span><br>
  <span style="color:#283747;">• Errors</span>
</p>

<h3 style="color:#6C3483; font-family:'Cambria', serif; font-size: 1.8em; text-decoration: underline; margin-top: 30px; margin-bottom: 15px;">Goals for This Tutorial</h3>
<p style="text-align:center; font-family:'Verdana', sans-serif; font-size: 1.2em; line-height: 1.8;">
  <span style="color:#21618C;">• Understand the role of data types and variables in Python.</span><br>
  <span style="color:#21618C;">• Explore the use of operators in forming expressions.</span><br>
  <span style="color:#21618C;">• Identify and debug common programming errors.</span>
</p>

</div>

# Values and Types in Python

## What Are Values?

A value is any piece of data that a program manipulates, such as numbers, text, or a logical result (`True` or `False`).

**Examples of Values:**
- Numbers: `5`, `3.14`
- Text: `"Hello"`
- Boolean values: `True`, `False`

## What Are Types?

**Definition**: Types describe the kind of value and determine what operations can be performed on that value.

**Common Python Types:**
1. **Integer (int)**: Whole numbers, like `5` or `-10`.
2. **Float (float)**: Numbers with decimals, like `1.56` or `-3.14159`.
3. **String (str)**: Text enclosed in quotes, like `"This is a string"` or `"12"`.

## Examples of Python Types and Values

In [1]:
# Integer (int)
my_number = 5
print(type(my_number))  # Output: <class 'int'>

<class 'int'>

In [2]:
# Float (float)
my_float = 1.55666
print(type(my_float))  # Output: <class 'float'>

<class 'float'>

In [3]:
# String (str)
my_string = "This is a string!"
print(type(my_string))  # Output: <class 'str'>

<class 'str'>

## Variables: Associating Values with Names

A **variable** is a "container" that holds a value. Variables are assigned values using the `=` operator.

Example:
```python
school = "University of Toronto"
year = 2023
next_year = year + 1
```

**Key Rules for Variable Names**:
1. Start with a letter or underscore `_`.
2. Contain only letters, digits, or underscores.
3. Avoid Python keywords like `for`, `if`, or `while`.

## Using `print()` to Display Values

In [4]:
school = "University of Toronto"
print(school)    # Output: University of Toronto

University of Toronto

In [5]:
year = 2023
print(year)      # Output: 2023

2023

In [6]:
next_year = year + 1
print(next_year) # Output: 2024

2024

## Let's Practice

### 1. Debugging Variable Errors

#### Fix the errors in the following codes:

**Example 1:**

In [ ]:
number! = 42

**Can variable names have special characters?**

In [ ]:
#Corrected form:

number = 42

**Example 2:**

In [ ]:
2nd_number = 3.14

**Can variable names start with a number?**

In [ ]:
#Corrected form:

Second_number = 3.14 
Sec_number = 3.14
Whatever_number = 3.14

**Example 3:**

In [ ]:
"message" = "Hi!"

**Is this a valid variable name?**

In [ ]:
#Corrected form:

message = "Hi!"

**Example 4:**

In [ ]:
message = "Hi'

**Is this a valid string assignment?**

In [ ]:
#Corrected form:

message = "Hi"

### 2. Type Exploration

**Example 1:**

In [2]:
x = 5             # Integer
y = 2.0           # Float
print(x + y)      # What happens here? What is the type?

7.0

In [3]:
#Answer:

print(x + y) 
print(type(x+y))

7.0
<class 'float'>

	•	What happened? Python automatically promotes the integer (x) to a float to perform the addition. This process is known as type conversion or type coercion.

**Example 2:**

In [4]:
x = 7          # Integer
y = 2          # Integer
print(x / y)   # What happens? What is the type?

3.5

In [5]:
#Answer:

print(x / y) 
print(type(x / y))

3.5
<class 'float'>

	•	What happened? The result will be 3.5 (a float), even though both x and y are integers. Python always returns a float for division with /.

### 3. Assign and Reassign Variables

In [14]:
x = 10       # Assign an integer to x
print(x)     # Output: 10
x = 3.14     # Reassign a float to x
print(x)     # Output: 3.14
x = "Hello"  # Reassign a string to x
print(x)     # Output: Hello

10
3.14
Hello

# Operators and Expressions in Python

## What Are Operators?
- **Operators** are symbols used to perform specific operations on values and variables.
- They are essential for calculations, comparisons, and combining conditions.

### Common Operators
| **Type**         | **Symbol** | **Example**         | **Description**                     | **Note** |
|-------------------|------------|---------------------|-------------------------------------|------------|
| Arithmetic        | `+`, `-`, `*`, `/`, `//`, `%`, `**` | `5 + 3` -> `8` | Perform mathematical calculations | - |
| Relational        | `<`, `>`, `<=`, `>=`, `==`, `!=`   | `5 > 3` -> `True` | Compare values and return `True` or `False` | Don’t worry about this for now; we’ll cover it in more detail later. |
| Logical           | `and`, `or`, `not`                | `True and False` -> `False` | Combine multiple conditions | Don’t worry about this for now; we’ll cover it in more detail later. |

## Arithmetic Operators
Arithmetic operators are used for mathematical operations.

| **Operator** | **Name**           | **Example**     | **Result** | **English Description** | **Explanation** |                                                      
|--------------|--------------------|-----------------|------------|-------------|------------------------------------------------------------------------|
| `+`          | Addition           | `5 + 3`         | `8`        | 5 plus 3 | Adds two numbers together.                                             |
| `-`          | Subtraction        | `10 - 4`        | `6`        | 10 minus 4 | Subtracts the second number from the first.                            |
| `*`          | Multiplication     | `6 * 3`         | `18`       | 6 multiplied by 3 | Multiplies two numbers.                                                |
| `/`          | Division           | `8 / 2`         | `4.0`      | 8 divided by 2 | Divides the first number by the second and returns a float.            |
| `//`         | Floor Division     | `9 // 2`        | `4`        | 9 divided by 2 | Divides the first number by the second and returns the integer part.   |
| `%`          | Modulo (Remainder) | `10 % 3`        | `1`        | 10 mod 3  | Returns the remainder of the division of the first number by the second.|
| `**`         | Exponentiation     | `2 ** 3`        | `8`        | 2 to the power of 3 | Raises the first number to the power of the second.                    |


### Examples:

In [ ]:
# Arithmetic Examples
x = 10
y = 3
print("Addition:", x + y)           # 13
print("Subtraction:", x - y)        # 7
print("Multiplication:", x * y)     # 30
print("Division:", x / y)           # 3.3333
print("Floor Division:", x // y)    # 3
print("Modulo:", x % y)             # 1
print("Exponentiation:", x ** y)    # 1000

## Operator Precedence
Operator precedence determines the order in which operations are performed.

**Order of Operations (PEMDAS):**
1. Parentheses `()`
2. Exponentiation `**`
3. Multiplication, Division, Floor Division, Modulo (`*`, `/`, `//`, `%`)
4. Addition, Subtraction (`+`, `-`)



**The operators in an un-parenthesized expression are evaluated in order of precedence.**
| **Operator**        | **Precedence** |
|----------------------|----------------|
| `**`                | highest        |
| `-` (negation)      |                |
| `*`, `/`, `//`, `%` |                |
| `+`, `-`            | lowest         |

**Note: Precedence rules for other operators, e.g., relational operators, are language-dependent!**

**Example 1: What is the value of result after this line of code executes?**

In [ ]:
# Operator Precedence Example

result = 10 + 5 * 2 ** 2 - 1

In [ ]:
#Answer:

print("Result:", result)  # 29 (5 * 4 = 20, 10 + 20 = 30, 30 - 1 = 29)

**Example 2: Calculate the Area of a Rectangle**

**Write a program to calculate the area and the perimeter of a rectangle using arithmetic operators.**

In [ ]:
# Calculate area and perimeter
length = 8
width = 3

In [ ]:
#Answer:

area = length * width
perimeter = 2 * (length + width)
print("Area of the rectangle:", area)           # Output: 24
print("Perimeter of the rectangle:", perimeter) # Output: 22

**Example 3: Predict the output of the following code before running it:**

In [ ]:
# Solve the following expression
a = 5
b = 10
c = 3
result = (a + b) ** 2 // c + b % a - c

In [ ]:
#Answer:

print("Result of the complex expression:", result)  # Predict before running

**Example 4: Verify if the equation holds:**

In [ ]:
a = 10
b = 3
left_side = (a + b) ** 2
right_side = a ** 2 + 2 * a * b + b ** 2

# Predict: Will the result of 'left_side == right_side' be True or False?

In [ ]:
#Answer: 
print("Does the equation hold?", left_side == right_side)

## Augmented Assignment Operators

**Augmented assignment operators are shorthand notations that combine an arithmetic operation with assignment. They simplify expressions by avoiding repetition.**


| **Operator** | **Expression**           | **Identical Expression**        | **Explanation**                              |
|--------------|--------------------------|----------------------------------|----------------------------------------------|
| `+=`         | `x = 7;`<br>`x += 2`     | `x = 7;`<br>`x = x + 2`         | Adds `2` to the value of `x` and reassigns it. |
| `-=`         | `x = 7;`<br>`x -= 2`     | `x = 7;`<br>`x = x - 2`         | Subtracts `2` from the value of `x` and reassigns it. |
| `*=`         | `x = 7;`<br>`x *= 2`     | `x = 7;`<br>`x = x * 2`         | Multiplies `x` by `2` and reassigns it.      |
| `/=`         | `x = 7;`<br>`x /= 2`     | `x = 7;`<br>`x = x / 2`         | Divides `x` by `2` and reassigns it.         |
| `//=`        | `x = 7;`<br>`x //= 2`    | `x = 7;`<br>`x = x // 2`        | Performs floor division on `x` by `2` and reassigns it. |
| `%=`         | `x = 7;`<br>`x %= 2`     | `x = 7;`<br>`x = x % 2`         | Finds the remainder of `x` divided by `2` and reassigns it. |
| `**=`        | `x = 7;`<br>`x **= 2`    | `x = 7;`<br>`x = x ** 2`        | Raises `x` to the power of `2` and reassigns it. |
### Examples

In [5]:
# Demonstrating augmented assignment operators
x = 10
x += 5
print(x)  # Output: 15
x -= 3
print(x)  # Output: 12
x *= 2
print(x)  # Output: 24
x /= 4
print(x)  # Output: 6.0
x //= 2
print(x)  # Output: 3.0
x %= 2
print(x)  # Output: 1.0

x = 3     # Reset x
x **= 2
print(x)  # Output: 9

15
12
24
6.0
3.0
1.0
9

**Example 1: Predict the Output**

In [11]:
x = 7
x += 3
x *= 2
x -= 5
x //= 4
x **= 3

In [ ]:
#Answer:

print("Final value of x:", x)

**Example 2: Rewrite Without Augmented Operators**

In [ ]:
a = 10 
b = 5
c = 2

a += b * c      # for example, thw answer is: a = a + (b * c)

b -= c + a      # Rewrite this
c *= a // b     # Rewrite this
a /= b - c      # Rewrite this
b %= a + c      # Rewrite this
c **= 2 + a     # Rewrite this

In [ ]:
#Amswer:

a = a + (b * c)         # Adds the product of b and c to a
b = b - (c + a)         # Subtracts the sum of c and a from b
c = c * (a // b)        # Multiplies c by the floor division of a by b
a = a / (b - c)         # Divides a by the difference of b and c
b = b % (a + c)         # Finds the remainder of b divided by the sum of a and c
c = c ** (2 + a)        # Raises c to the power of (2 + a)

**Example 3: Debugging Augmented Assignments**

In [ ]:
# Fix the errors in the augmented operations

x = 10


# 1.
x + 5  

# 2.
x -= "2"  

# 3.
x /= 0

Expected fixes:

	1.	Missing assignment: Replace x + 5 with x += 5.
	2.	Mixing incompatible types: Convert "2" to 2 or fix type mismatch.
	3.	Division by zero issue: Replace division by zero with a valid denominator.

**Example 4:** 

Perform the following steps


Step 1: Initialize variables: x = 20 and y = 7

Step 2: Add 10 to x

Step 3: Multiply y by 3

Step 4: Calculate remainder of x divided by y and store in x

Step 5: Raise y to the power of 2

Step 6: Subtract x from y 

Step 7: Calculate and print the result of (x + y) * (x - y)

In [9]:
#Answer

# Step 1: Initialize variables
x = 20
y = 7
# Step 2: Add 10 to x
x += 10  # x = 30
# Step 3: Multiply y by 3
y *= 3  # y = 21
# Step 4: Calculate remainder of x divided by y and store in x
x %= y  # x = 30 % 21 = 9
# Step 5: Raise y to the power of 2
y **= 2  # y = 21 ** 2 = 441
# Step 6: Subtract x from y (regular subtraction)
y = y - x  # y = 441 - 9 = 432
# Step 7: Calculate and print the result of (x + y) * (x - y)
result = (x + y) * (x - y)  # (9 + 432) * (9 - 432) = 441 * -423 = -186183
print("Result:", result)

Result: -186543

# Error Types in Python

Errors in Python are generally classified into four main types:
1. **Syntax Error**
2. **Semantic Error**
3. **Runtime Error**
4. **Logical Error**


## Table of Error Types


| **Name**          | **Definition**                                                                                              | **Timing**                                  | **Python Examples**                                                                                                                         | **Clarification**                                                                                          |
|--------------------|------------------------------------------------------------------------------------------------------------|--------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------------------------|
| **Syntax Error**   | An error due to the code not being syntactically valid (i.e., not obeying the grammar of the programming language). | Usually discovered during **compilation**. | <span style="color:red;">`>>> (3 + 2 * 4`<br>`SyntaxError: unmatched ')'`</span><br> Explanation: Open parenthesis without a close.        | Syntax errors are often caused by typos or missing syntax elements (e.g., quotes, parentheses, colons).    |
| **Semantic Error** | An error due to the code not following the semantic rules of a programming language (e.g., using incompatible types). | Usually discovered during **compilation**. | <span style="color:red;">`>>> "Hello" - 4`<br>`TypeError: unsupported operand type(s) for -: 'str' and 'int'`</span><br>`>>> a > 5`<br>`NameError: name 'a' is not defined`</span> | Semantic errors involve logic that the programming language cannot interpret correctly (e.g., subtracting a string from a number). |
| **Runtime Error**  | An error that occurs during the execution (runtime) of a program. It halts the program.                    | Happens when the code is run.              | <span style="color:red;">`>>> a = 5`<br>`>>> b = 4 / (a - 5)`<br>`ZeroDivisionError: division by zero`</span>                               | Runtime errors typically happen when the program encounters unexpected conditions (e.g., invalid input or division by zero). |
| **Logical Error**  | An error caused by incorrect implementation of the intended logic or formula.                              | Happens when the code is run. May remain undiscovered. | <span style="color:blue;">`>>> duration_in_seconds = duration_in_hours * 100`<br>`The formula for converting hours into seconds is incorrect`</span> | Logical errors produce incorrect results even though the program runs without crashing. They are often harder to detect. |

## Syntax Error

- **Definition**: An error caused by code that does not follow the grammar of the programming language.
- **Timing**: Discovered during **compilation** (before the code runs).
- **Example**:

In [ ]:
# Syntax Error: Missing closing parenthesis
result = (2 + 3 * 4
          
# Output: SyntaxError: unmatched '('

## Semantic Error

- **Definition**: An error caused by code that violates the semantic rules of the programming language.
- **Timing**: Discovered during **compilation**.
- **Examples**:

In [ ]:
# Semantic Error: Unsupported operand types
x = "Hello"
result = x - 5
# Output: TypeError: unsupported operand type(s) for -: 'str' and 'int'

# Semantic Error: Using an undefined variable
result = a + 5
# Output: NameError: name 'a' is not defined

## Runtime Error

- **Definition**: An error that occurs while the program is running. It halts the execution of the program.
- **Timing**: Happens **during execution**.
- **Example**:

In [ ]:
# Runtime Error: Division by zero
a = 10
b = 0
result = a / b
# Output: ZeroDivisionError: division by zero

## Logical Error

- **Definition**: An error caused by incorrect implementation of the intended logic or formula. The program runs, but the output is incorrect.
- **Timing**: Happens **during execution** and may remain undiscovered.
- **Example**:

In [ ]:
# Logical Error: Incorrect formula for area of a rectangle
length = 5
width = 3
area = length + width  # Incorrect logic (should be length * width)
print("Area of the rectangle:", area)
# Output: Area of the rectangle: 8 (should be 15)

## Practice Problems

### Activity 1: Identify the Error Type
Classify the type of error in each snippet:

In [ ]:
# Example 1: What type of error is this?
print("Hello)

  	•	Answer: This is a SyntaxError because the opening double quote (") is not closed, resulting in invalid syntax.

In [ ]:
# Example 2: What type of error is this?
x = "10"
y = x + 5

  	•	Answer: This is a TypeError because x is a string, and Python does not allow the addition of a string ("10") to an integer (5) without explicit type conversion.

In [ ]:
# Example 3: What type of error is this?
a = 10
b = 0
result = a / b

  	•	Answer: This is a SyntaxError because the opening double quote (") is not closed, resulting in invalid syntax.

### Activity 2: Answer the following questions

#### Question 1: What is the outcome of running this code?

In [ ]:
a = 10
b = "20"
c = 5
result = (a + b) * c
print(result)

Options:

A. 150

B. TypeError occurs

C. A logical error occurs

D. A runtime error occurs

E. SyntaxError occurs

	•	Correct Answer: B

	•	Explanation: A TypeError occurs because Python cannot add an integer (a) and a string (b) directly.

#### Question 2: What is the outcome of running this code?

In [ ]:
x = 15
y = "10"
z = x - int(y)
print(z)

Options:

A. 5

B. TypeError occurs

C. SyntaxError occurs

D. A logical error occurs

E. A runtime error occurs

	•	Correct Answer: A

	•	Explanation: The int(y) converts the string "10" into an integer, allowing subtraction to occur. The output is 5.

#### Question 3: What is wrong with the following code?

In [ ]:
a = 100
b = 50
c = a - b
print("The difference is:" c)


Options:

A. SyntaxError

B. NameError

C. TypeError

D. A runtime error occurs

E. A logical error occurs

	•	Correct Answer: A

	•	Explanation: A SyntaxError occurs because the print function is missing a comma between the string and the variable c.